<a href="https://colab.research.google.com/github/judahbenjamin/Imers-o-dados-python-II/blob/main/Aula1_Imers%C3%A3o_dados_com_Python_Alura_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

**AULA 1 - IMERSÃO DE DADOS**
*ESTUDANTE*: **JUDAH BENJAMIN**

In [ ]:
df = pd.read_csv("http://raw.githubusercontent.com/contaratoandressa/movie_analysis/refs/heads/master/data_model.csv")

In [ ]:
df.head()

                                                                                  ;"data";"genero";"ingresso";"cinema";"google_trends";"evn";"prop_cinema"
1;2017;"ACAO";730452        397260274;12958485 3281853;4058;75   9903400556052;0                                              947.0
2;2018;"ACAO";379842        123287671;6524178  76447876;3230;76  251506401642;0                                               945.0
3;2019;"ACAO";215684        931506849;3206725  86872587;2795;76  5010465284812;0                                              937.0
4;2020;"ACAO";39849         6575342466;681844  401544402;1452;66 8218396369742;0                                              945.0
5;2018;"ACAO (BRASIL)";3022 2602739726;107258  301158301;3230;76 251506401642;0                                               973.0

In [ ]:
df.head(10)

                                                                                          ;"data";"genero";"ingresso";"cinema";"google_trends";"evn";"prop_cinema"
1;2017;"ACAO";730452        397260274;12958485      3281853;4058;75      9903400556052;0                                              947.0
2;2018;"ACAO";379842        123287671;6524178       76447876;3230;76     251506401642;0                                               945.0
3;2019;"ACAO";215684        931506849;3206725       86872587;2795;76     5010465284812;0                                              937.0
4;2020;"ACAO";39849         6575342466;681844       401544402;1452;66    8218396369742;0                                              945.0
5;2018;"ACAO (BRASIL)";3022 2602739726;107258       301158301;3230;76    251506401642;0                                               973.0
6;2019;"ACAO (BRASIL)";3354 1095890411;74240        5405405405;2795;76   5010465284812;0                                              957.0
7;2017;"ALTERNATIVO";26     3698630136986;0;4058;75 9903400556052;0      NaN                                                            NaN
8;2018;"ALTERNATIVO";301    027397260274;738        610038610039;3230;76 251506401642;0                                                71.0
9;2016;"ANIMACAO";18437     6712328767;462850       965250965;0;75       7190348760339;0                                              962.0
10;2017;"ANIMACAO";508785   95890411;11630734       7490347;4058;75      9903400556052;0                                              958.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 154 entries, ('1;2017;"ACAO";730452', '397260274;12958485', '3281853;4058;75', '9903400556052;0') to ('154;2019;"THRILLER";0', '684931506849315;0;2795;76', '5010465284812;0', nan)
Data columns (total 1 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   ;"data";"genero";"ingresso";"cinema";"google_trends";"evn";"prop_cinema"  128 non-null    float64
dtypes: float64(1)
memory usage: 18.1+ KB

In [ ]:
df.describe()

       ;"data";"genero";"ingresso";"cinema";"google_trends";"evn";"prop_cinema"
count                                         128.000000
mean                                          822.437500
std                                           250.857639
min                                             9.000000
25%                                           851.250000
50%                                           916.500000
75%                                           946.000000
max                                           998.000000

In [ ]:
df.shape

(154, 1)

In [ ]:
linhas, coluna = df.shape[0], df.shape[1]
print("Linhas: ", linhas)
print("Colunas: ", coluna)

Linhas:  154
Colunas:  1

In [ ]:
df.columns

Index([';"data";"genero";"ingresso";"cinema";"google_trends";"evn";"prop_cinema"'], dtype='object')

In [ ]:
import pandas as pd

# Recarregar o DataFrame com o separador correto
df = pd.read_csv("http://raw.githubusercontent.com/contaratoandressa/movie_analysis/refs/heads/master/data_model.csv", sep=';')

# Renomear as colunas para nomes mais compreensíveis
column_mapping = {
    'data': 'ano',
    'genero': 'genero_filme',
    'ingresso': 'total_ingresso_vendido',
    'cinema': 'receita_bruta_cinema',
    'google_trends': 'score_google_trends',
    'evn': 'score_evn',
    'prop_cinema': 'propriedade_cinema'
}

df = df.rename(columns=column_mapping)

# Exibir as primeiras linhas e as novas colunas para verificar
print("DataFrame com colunas renomeadas:")
print(df.head())
print("\nNovos nomes das colunas:")
print(df.columns)

DataFrame com colunas renomeadas:
   Unnamed: 0   ano   genero_filme total_ingresso_vendido  \
0           1  2017           ACAO       730452,397260274
1           2  2018           ACAO       379842,123287671
2           3  2019           ACAO       215684,931506849
3           4  2020           ACAO       39849,6575342466
4           5  2018  ACAO (BRASIL)        3022,2602739726

  receita_bruta_cinema  score_google_trends         score_evn  \
0     12958485,3281853                 4058  75,9903400556052
1     6524178,76447876                 3230   76,251506401642
2     3206725,86872587                 2795  76,5010465284812
3     681844,401544402                 1452  66,8218396369742
4     107258,301158301                 3230   76,251506401642

  propriedade_cinema
0              0,947
1              0,945
2              0,937
3              0,945
4              0,973

Novos nomes das colunas:
Index(['Unnamed: 0', 'ano', 'genero_filme', 'total_ingresso_vendido',
       'receita_bruta_cinema', 'score_google_trends', 'score_evn',
       'propriedade_cinema'],
      dtype='object')

In [ ]:
df.head()

,Unnamed: 0,ano,genero_filme,total_ingresso_vendido,receita_bruta_cinema,score_google_trends,score_evn,propriedade_cinema
0,1,2017,ACAO,"730452,397260274","12958485,3281853",4058,"75,9903400556052","0,947"
1,2,2018,ACAO,"379842,123287671","6524178,76447876",3230,"76,251506401642","0,945"
2,3,2019,ACAO,"215684,931506849","3206725,86872587",2795,"76,5010465284812","0,937"
3,4,2020,ACAO,"39849,6575342466","681844,401544402",1452,"66,8218396369742","0,945"
4,5,2018,ACAO (BRASIL),"3022,2602739726","107258,301158301",3230,"76,251506401642","0,973"

In [ ]:
df = df.drop(columns=['Unnamed: 0'])
print("Coluna 'Unnamed: 0' removida.")
print(df.head())

Coluna 'Unnamed: 0' removida.
    ano   genero_filme total_ingresso_vendido receita_bruta_cinema  \
0  2017           ACAO       730452,397260274     12958485,3281853
1  2018           ACAO       379842,123287671     6524178,76447876
2  2019           ACAO       215684,931506849     3206725,86872587
3  2020           ACAO       39849,6575342466     681844,401544402
4  2018  ACAO (BRASIL)        3022,2602739726     107258,301158301

   score_google_trends         score_evn propriedade_cinema
0                 4058  75,9903400556052              0,947
1                 3230   76,251506401642              0,945
2                 2795  76,5010465284812              0,937
3                 1452  66,8218396369742              0,945
4                 3230   76,251506401642              0,973

In [ ]:
df.head()

,ano,genero_filme,total_ingresso_vendido,receita_bruta_cinema,score_google_trends,score_evn,propriedade_cinema
0,2017,ACAO,"730452,397260274","12958485,3281853",4058,"75,9903400556052","0,947"
1,2018,ACAO,"379842,123287671","6524178,76447876",3230,"76,251506401642","0,945"
2,2019,ACAO,"215684,931506849","3206725,86872587",2795,"76,5010465284812","0,937"
3,2020,ACAO,"39849,6575342466","681844,401544402",1452,"66,8218396369742","0,945"
4,2018,ACAO (BRASIL),"3022,2602739726","107258,301158301",3230,"76,251506401642","0,973"

In [ ]:
df.head(10)

,ano,genero_filme,total_ingresso_vendido,receita_bruta_cinema,score_google_trends,score_evn,propriedade_cinema
0,2017,ACAO,"730452,397260274","12958485,3281853",4058,"75,9903400556052","0,947"
1,2018,ACAO,"379842,123287671","6524178,76447876",3230,"76,251506401642","0,945"
2,2019,ACAO,"215684,931506849","3206725,86872587",2795,"76,5010465284812","0,937"
3,2020,ACAO,"39849,6575342466","681844,401544402",1452,"66,8218396369742","0,945"
4,2018,ACAO (BRASIL),"3022,2602739726","107258,301158301",3230,"76,251506401642","0,973"
5,2019,ACAO (BRASIL),"3354,1095890411","74240,5405405405",2795,"76,5010465284812","0,957"
6,2017,ALTERNATIVO,"26,3698630136986",0,4058,"75,9903400556052",0
7,2018,ALTERNATIVO,"301,027397260274","738,610038610039",3230,"76,251506401642","0,71"
8,2016,ANIMACAO,"18437,6712328767","462850,965250965",0,"75,7190348760339","0,962"
9,2017,ANIMACAO,"508785,95890411","11630734,7490347",4058,"75,9903400556052","0,958"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ano                     154 non-null    int64
 1   genero_filme            154 non-null    object
 2   total_ingresso_vendido  154 non-null    object
 3   receita_bruta_cinema    154 non-null    object
 4   score_google_trends     154 non-null    int64
 5   score_evn               154 non-null    object
 6   propriedade_cinema      154 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.6+ KB

In [ ]:
df.describe()

               ano  score_google_trends
count   154.000000           154.000000
mean   2018.175325          3047.500000
std       1.061095           937.911581
min    2016.000000             0.000000
25%    2017.000000          2795.000000
50%    2018.000000          3230.000000
75%    2019.000000          4058.000000
max    2020.000000          4058.000000

In [ ]:
df.shape

(154, 7)

In [ ]:
quant_linhas, quant_colunas = df.shape[0], df.shape[1]
print("Quantidade de linhas: ", quant_linhas)
print("Quantidade de colunas: ", quant_colunas)

Quantidade de linhas:  154
Quantidade de colunas:  7

In [ ]:
df.columns

Index(['ano', 'genero_filme', 'total_ingresso_vendido', 'receita_bruta_cinema',
       'score_google_trends', 'score_evn', 'propriedade_cinema'],
      dtype='object')

In [ ]:
df['ano'].value_counts()

ano
2018    46
2017    44
2019    41
2020    19
2016     4
Name: count, dtype: int64

In [ ]:
df['genero_filme'].value_counts()

genero_filme
ANIMACAO             5
DRAMA                5
AVENTURA             4
COMEDIA              4
COMEDIA (BRASIL)     4
                    ..
FAROESTE             1
EVENTO               1
POLICIAL (BRASIL)    1
ROCK                 1
SHOW (BRASIL)        1
Name: count, Length: 63, dtype: int64

In [ ]:
df['total_ingresso_vendido'].value_counts()

total_ingresso_vendido
0,684931506849315    5
53576,3698630137     2
66,4383561643836     2
6,16438356164384     2
0,342465753424658    2
                    ..
212983,219178082     1
178144,863013699     1
192641,095890411     1
25468,1506849315     1
973,287671232877     1
Name: count, Length: 144, dtype: int64

In [ ]:
df['receita_bruta_cinema'].value_counts()

receita_bruta_cinema
0                   26
12958485,3281853     1
6524178,76447876     1
681844,401544402     1
3206725,86872587     1
                    ..
5247415,44401544     1
4207298,45559846     1
3257402,7027027      1
651459,845559846     1
8663,32046332046     1
Name: count, Length: 129, dtype: int64

In [ ]:
df['score_evn'].value_counts()

score_evn
76,251506401642     46
75,9903400556052    44
76,5010465284812    41
66,8218396369742    19
75,7190348760339     4
Name: count, dtype: int64

In [ ]:
df['score_google_trends'].value_counts()

score_google_trends
3230    46
4058    44
2795    41
1452    19
0        4
Name: count, dtype: int64

In [ ]:
df['propriedade_cinema'].value_counts()

propriedade_cinema
0        26
0,945     4
0,941     4
0,946     4
0,937     3
         ..
0,915     1
0,982     1
0,961     1
0,959     1
0,899     1
Name: count, Length: 94, dtype: int64

In [ ]:
df['genero_filme'] = df['genero_filme'].replace({'ACAO (BRASIL)': 'ACAO'})
print("Categorias em 'genero_filme' após a unificação:")
print(df['genero_filme'].value_counts())

Categorias em 'genero_filme' após a unificação:
genero_filme
ACAO                 6
ANIMACAO             5
DRAMA                5
AVENTURA             4
COMEDIA              4
                    ..
FAROESTE             1
EVENTO               1
POLICIAL (BRASIL)    1
ROCK                 1
SHOW (BRASIL)        1
Name: count, Length: 62, dtype: int64

In [ ]:
df.head()

,ano,genero_filme,total_ingresso_vendido,receita_bruta_cinema,score_google_trends,score_evn,propriedade_cinema
0,2017,ACAO,"730452,397260274","12958485,3281853",4058,"75,9903400556052","0,947"
1,2018,ACAO,"379842,123287671","6524178,76447876",3230,"76,251506401642","0,945"
2,2019,ACAO,"215684,931506849","3206725,86872587",2795,"76,5010465284812","0,937"
3,2020,ACAO,"39849,6575342466","681844,401544402",1452,"66,8218396369742","0,945"
4,2018,ACAO,"3022,2602739726","107258,301158301",3230,"76,251506401642","0,973"

In [ ]:
df.describe(include='object')

,genero_filme,total_ingresso_vendido,receita_bruta_cinema,score_evn,propriedade_cinema
count,154,154,154,154,154
unique,62,144,129,5,94
top,ACAO,"0,684931506849315",0,"76,251506401642",0
freq,6,5,26,46,26