<a href="https://colab.research.google.com/github/judahbenjamin/Imersao-dados-python-II/blob/main/Exerc%C3%ADcio_aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício - Limpeza e Tratamento de Dados

In [28]:
#Por Judah Benjamin

#Criação do DataFrame:
"""
Crie um DataFrame chamado df_vendas com as seguintes colunas: produto, preco, quantidade, e ano_venda.
Insira pelo menos 10 registros, sendo que alguns dos valores em preco e ano_venda
devem ser nulos (use np.nan para representar os valores nulos).
"""


import numpy as np
import pandas as pd

df_vendas = pd.DataFrame({
    'produto': [
        'Arroz',
        'Manteiga',
        'Feijão',
        'Óleo de Soja',
        'Açúcar',
        'Café',
        'Leite',
        'Pão',
        'Ovos',
        'Sabão em Pó'
    ],
    'preco': [
        5.50, 12.00, 8.75, 7.99, np.nan,
        15.00, 4.20, 6.50, 10.00, np.nan
    ],
    'quantidade': [
        100, 50, 75, np.nan, 120,
        90, 200, 60, np.nan, 80
    ],
    'ano_venda': [
        2021, 2022, np.nan, 2023, 2021,
        2022, 2023, 2021, np.nan, 2022
    ]
})

display(df_vendas) #Comando para exibir DataFrames(e outras estruturas de dados) de forma mais bonita e interativa.
#Representação formatada da tabela para uma melhor visualização dos dados.

        produto  preco  quantidade  ano_venda
0         Arroz   5.50       100.0     2021.0
1      Manteiga  12.00        50.0     2022.0
2        Feijão   8.75        75.0        NaN
3  Óleo de Soja   7.99         NaN     2023.0
4        Açúcar    NaN       120.0     2021.0
5          Café  15.00        90.0     2022.0
6         Leite   4.20       200.0     2023.0
7           Pão   6.50        60.0     2021.0
8          Ovos  10.00         NaN        NaN
9   Sabão em Pó    NaN        80.0     2022.0

In [29]:
#Identificação de Dados Nulos:
"""
Utilize o método isnull() para identificar quais colunas têm valores nulos e quantos são.
"""

df_vendas.isnull()

   produto  preco  quantidade  ano_venda
0    False  False       False      False
1    False  False       False      False
2    False  False       False       True
3    False  False        True      False
4    False   True       False      False
5    False  False       False      False
6    False  False       False      False
7    False  False       False      False
8    False  False        True       True
9    False   True       False      False

In [30]:
df_vendas.isnull().sum()
#Soma tudo o que está nulo

produto       0
preco         2
quantidade    2
ano_venda     2
dtype: int64

In [31]:
#Tratamento de Dados Nulos:
"""
Preencha os valores nulos na coluna preco com a média dos preços.
"""
# Ajuste: Preenchendo a coluna 'preco' diretamente com a média, como solicitado.
df_vendas['preco'] = df_vendas['preco'].fillna(df_vendas['preco'].mean().round(2))

"""
Preencha os valores nulos na coluna ano_venda com o valor "Não informado".
"""
# Ajuste: Preenchendo a coluna 'ano_venda' diretamente com 'Não informado', como solicitado.
df_vendas['ano_venda'] = df_vendas['ano_venda'].fillna('Não informado')

# Exibe o DataFrame após o tratamento dos nulos
df_vendas

        produto  preco  quantidade      ano_venda
0         Arroz   5.50       100.0         2021.0
1      Manteiga  12.00        50.0         2022.0
2        Feijão   8.75        75.0  Não informado
3  Óleo de Soja   7.99         NaN         2023.0
4        Açúcar   8.74       120.0         2021.0
5          Café  15.00        90.0         2022.0
6         Leite   4.20       200.0         2023.0
7           Pão   6.50        60.0         2021.0
8          Ovos  10.00         NaN  Não informado
9   Sabão em Pó   8.74        80.0         2022.0

In [32]:
#Remoção de Registros:
"""
Se houver algum registro onde a quantidade seja igual a 0, remova esses registros do DataFrame.
"""

# Ajuste: Primeiro, removemos as linhas onde 'quantidade' é nula para garantir que a conversão para int seja possível.
# Isso também ajuda a lidar com registros inconsistentes antes de verificar o valor 0.
df_vendas = df_vendas.dropna(subset=['quantidade'])

# Ajuste: Em seguida, filtramos e removemos apenas os registros onde a 'quantidade' é igual a 0,
# seguindo a instrução específica do exercício.
df_vendas = df_vendas[df_vendas['quantidade'] != 0]

# Verifica novamente a soma de nulos após as remoções para confirmar a limpeza.
df_vendas.isnull().sum()
# Obs: você também pode especificar a coluna com dropna(subset=['nome da coluna']).

produto       0
preco         0
quantidade    0
ano_venda     0
dtype: int64

In [33]:
#Conversão de Tipos:
"""
Verifique se a coluna ano_venda está como string e converta-a para um tipo inteiro, se necessário.
"""

# Ajuste: Converte a coluna 'quantidade' para o tipo inteiro.
# Esta conversão é segura agora, pois os valores nulos e zero foram tratados na etapa anterior.
df_vendas = df_vendas.assign(quantidade=df_vendas['quantidade'].astype(int))

# Observação: A instrução pedia para converter 'ano_venda' para inteiro.
# No entanto, a coluna 'ano_venda' agora contém strings ('Não informado') que resultaram do preenchimento de nulos.
# Portanto, não é possível convertê-la diretamente para um tipo inteiro sem antes remover ou transformar essas strings.
# A coluna 'ano_venda' permanecerá como tipo 'object' (string) devido a essa incompatibilidade de tipos.
# Se a intenção final for ter 'ano_venda' como int, o tratamento dos valores nulos deveria ser diferente
# (ex: preencher com um valor numérico como 0, ou remover as linhas com NaN).

# Exibe as primeiras linhas do DataFrame com os tipos atualizados.
df_vendas.head()

    produto  preco  quantidade      ano_venda
0     Arroz   5.50         100         2021.0
1  Manteiga  12.00          50         2022.0
2    Feijão   8.75          75  Não informado
4    Açúcar   8.74         120         2021.0
5      Café  15.00          90         2022.0

In [34]:
#Visualização:
"""
Por fim, utilize o método head() para visualizar as primeiras linhas do DataFrame após as alterações.
"""

df_vendas.head()

    produto  preco  quantidade      ano_venda
0     Arroz   5.50         100         2021.0
1  Manteiga  12.00          50         2022.0
2    Feijão   8.75          75  Não informado
4    Açúcar   8.74         120         2021.0
5      Café  15.00          90         2022.0